node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.vite
.DS_Store
*.log
coverage
.idea

# Reserved Windows device name accidentally created by tooling; cannot be
# safely deleted from the working tree, must not be indexed.
/nul
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
